In [1]:
import pandas as pd
import numpy as np

1.
Data for all of the locations of Petal Power is in the file inventory.csv.
Load the data into a DataFrame called inventory.

In [2]:
inventory = pd.DataFrame(pd.read_csv('inventory.csv'))

2.
Inspect the first 10 rows of inventory.

In [15]:
inventory.head(10)

,location,product_type,product_description,quantity,price,in_stock
0,Staten Island,seeds,daisy,4,6.99,True
1,Staten Island,seeds,calla lily,46,19.99,True
2,Staten Island,seeds,tomato,85,13.99,True
3,Staten Island,garden tools,rake,4,13.99,True
4,Staten Island,garden tools,wheelbarrow,0,89.99,False
5,Staten Island,garden tools,spade,93,19.99,True
6,Staten Island,pest_control,insect killer,74,12.99,True
7,Staten Island,pest_control,weed killer,8,23.99,True
8,Staten Island,planter,20 inch terracotta planter,0,17.99,False
9,Staten Island,planter,8 inch plastic planter,53,3.99,True

3.
The first 10 rows represent data from your Staten Island location. Select these rows and save them to staten_island.

In [16]:
staten_island = inventory.head(10)

4.
A customer just emailed you asking what products are sold at your Staten Island location.
Select the column product_description from staten_island and save it to the variable product_request.

In [5]:
product_request = staten_island['product_description']

In [6]:
product_request

0                         daisy
1                    calla lily
2                        tomato
3                          rake
4                   wheelbarrow
5                         spade
6                 insect killer
7                   weed killer
8    20 inch terracotta planter
9        8 inch plastic planter
Name: product_description, dtype: object

5.
Another customer emails to ask what types of seeds are sold at the Brooklyn location.

Select all rows where location is equal to Brooklyn and product_type is equal to seeds and save them to the variable seed_request

In [14]:
seed_request = inventory.loc[(inventory['location'] == 'Brooklyn') & (inventory['product_type'] == 'seeds')]

6.
Add a column to inventory called in_stock 
which is True if quantity is greater than 0 and False if quantity equals 0.

In [24]:
inventory['in_stock'] = inventory['quantity'].apply(lambda x : True if x > 0 else False)

7.
Petal Power wants to know how valuable their current inventory is.
Create a column called total_value that is equal to price multiplied by quantity.

In [25]:
inventory['total_value'] = inventory['quantity'] * inventory['price']

8.
The Marketing department wants a complete description of each product for their catalog.

The following lambda function combines product_type and product_description into a single string:

combine_lambda = lambda row: \
    '{} - {}'.format(row.product_type,
                     row.product_description)
Paste this function into script.py.

In [28]:
combine_lambda = lambda row: \
    '{} - {}'.format(row.product_type,
                     row.product_description)

9.
Using combine_lambda, create a new column in inventory called full_description that has the complete description of each product.

In [29]:
full_description = inventory.apply(combine_lambda, axis=1)

In [30]:
full_description

0                            seeds - daisy
1                       seeds - calla lily
2                           seeds - tomato
3                      garden tools - rake
4               garden tools - wheelbarrow
5                     garden tools - spade
6             pest_control - insect killer
7               pest_control - weed killer
8     planter - 20 inch terracotta planter
9         planter - 8 inch plastic planter
10                           seeds - daisy
11                      seeds - calla lily
12                          seeds - tomato
13                     garden tools - rake
14              garden tools - wheelbarrow
15                    garden tools - spade
16            pest_control - insect killer
17              pest_control - weed killer
18    planter - 20 inch terracotta planter
19        planter - 8 inch plastic planter
20                           seeds - daisy
21                      seeds - calla lily
22                          seeds - tomato
23                     garden tools - rake
24              garden tools - wheelbarrow
25                    garden tools - spade
26            pest_control - insect killer
27              pest_control - weed killer
28    planter - 20 inch terracotta planter
dtype: object